* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    background-color: #20232a;
    padding: 0 5px;
}

a {
    color: inherit;
    text-decoration: none;
}
